.form-container {
    border: 2px solid #2d29f2;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3px;
    min-height:100vh;
    margin-left:2vw;
    margin-right:2vw;
}

.form-container .timer {
    color: #ff3e3e;
    font-weight: 600;
    font-size: 1.2rem;
}

.form-container > .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form-container > .form-content > h1 {
    color: #2d29f2;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Redressed",Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 7rem;
    text-transform: capitalize;
}



.main-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 9px 10px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
    background-color: #2d29f2;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

    .main-btn:hover {
        letter-spacing: 2px;
        font-weight: bold;
    }


.navContainer {
    width: 35px;
    height: 45px;
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

    .navContainer:hover {
        cursor: pointer;
    }

.navContainer > .fill {
    height: 45%;
    width: 100%;
    background-color: #898989;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    .form-container > .form-content > h1 {
        font-size: 1.1rem;
    }
    body{
        width:100vw;
        overflow-x:hidden;
    }
}
 