

/* Sticky footer styles
-------------------------------------------------- */

body{
    width:100vw;
    overflow-x: hidden;
}
.footer {
    background-color:gray;
    width:120vw;
}

.active-link {
    color: #2d29f2;
    border-bottom: 3px solid #2d29f2;
}
